
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <title>Chacha Chaudhary Voice ChatBot</title>
</head>
<body>
    <h1>Chacha Chaudhary Voice ChatBot</h1>
    <!-- TEXT BOX FOR INP -->
    <input style="width: 500px;" type="text" id="output" name="output" placeholder="Enter your query from Chacha.."><br>
    <!-- BUTTON TO START REC -->
    <button id = "start">Start</button>
    <!-- BUTTON TO SUBMIT -->
    <button onclick="sendData()">submit</button>
    <!-- AREA TO PRINT THE RESULT OF THE QUERY -->
    <p id = "result"></p>
    <script>
        const output = document.getElementById('output');
        const start = document.getElementById('start');

        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const speechSynthesis = window.speechSynthesis || window.webkitSpeechSynthesis;
        const recognition = new SpeechRecognition();
        recognition.lang = 'en-US';
        recognition.interimResults = false;
        recognition.continuous = false;

        start.addEventListener('click', () => {
            output.value = "";
            recognition.start();
            console.log('recognition started');
            speechSynthesis.cancel();
        });

        recognition.onresult = (event) => {
            output.value += event.results[event.results.length - 1][0].transcript;
            console.log(event);
        };
        function sendData() {  
            $.ajax({ 
                url: '/', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify({ 'question': output.value }),
                success: function(response) { 
                    document.getElementById('result').innerHTML = response.result;
                    var msg = response.result;
                    const myArray = msg.split("\n\n")
                    var filterText = "";
                    for(let i = 0; i<myArray.length; i++){ 
                        if(!myArray[i].includes("HTTPS") && !myArray[i].includes("HTTP") && !myArray[i].includes("https") && !myArray[i].includes("http")){
                            filterText += myArray[i];
                        }   
                    }
                    console.log(filterText);
                    const utterance = new SpeechSynthesisUtterance(filterText);
                    utterance.rate = 0.8;
                    utterance.pitch = 1;
                    utterance.volume = 1;
                    speechSynthesis.speak(utterance);
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            }); 
        } 
    </script>
</body>
</html>
